// css img, button, heading, title, input, elements, components...
img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  &.--center {
    margin: 0 auto;
    display: block;
  }
}
a {
  text-decoration: none;
}

// colors (tuỳ chỉnh)
.--white-cl {
  color: $white-cl;
}
.--black-cl {
  color: $black-cl;
}
.--yellow-cl {
  color: $yellow-cl !important;
}
.--gray-cl {
  color: $gray-cl;
}
.--text-cl {
  color: $text-cl;
}
.--bg-yellow-cl {
  background: $yellow-cl;
}
.--bg-gray-cl {
  background: $gray-cl !important;
}

// css article (nội dung chi tiết bài viết)
article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // font-family: ib; // font bold
    display: block;
  }
  h1 {
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
    margin: 0 0 0.67rem 0;
  }
  h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    margin: 0 0 0.75rem 0;
  }
  h3 {
    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
    margin: 0 0 0.83rem 0;
  }
  h4 {
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    margin: 0 0 1.12rem 0;
  }
  h5 {
    font-size: var(--h5-fs);
    line-height: var(--h5-lh);
    margin: 0 0 1.5rem 0;
  }
  h6 {
    font-size: 0.67rem;
    margin: 0 0 1.67rem 0;
  }

  p {
    margin: 0 0 1.12rem 0;
  }
  strong {
    font-family: pb; // font bold
  }
  ol,
  ul {
    list-style: initial;
    padding-left: 18px;
  }
  img {
    display: inline-block;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    margin: 25px auto;
  }
  .video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin: 25px auto;
    iframe,
    video {
      position: absolute;
      @include size(100%);
      top: 0;
      left: 0;
    }
  }
  @include xs {
    img {
      margin: 20px auto;
    }
  }
}

.heading {
  font-family: ib;
  &.--h1 {
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
  }
  &.--h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
  }
}

.grid {
  display: grid;
}

/* ----------------------------- CUSTOM SCROLBAR ---------------------------- */

.scrollbar {
  position: fixed;
  top: var(--height-header);
  left: 0;
  z-index: 99;
  width: 0;
  height: 5px;
  background-color: $yellow-cl;
  @include transition(0.4s);
}

// hide scrollbar default
::-webkit-scrollbar {
  width: 0;
}

/* --------------------------------- BTN BOX -------------------------------- */
.btn-box {
  width: 100px;
  @include text(24px, peb, 30.48px, $text-cl, uppercase);
  border-radius: 8px;
  text-align: center;
  height: 100px;
  @include mid(true);
  @include transition(all 0.4s);
}

/* ------------------------------ LOADING PAGE ------------------------------ */
.loading {
  background: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;

  .spinner {
    @include mid();
    &:after,
    &:before {
      content: "";
      position: fixed;
      border: 2px solid $yellow-cl;
      width: 30px;
      height: 30px;
    }

    &:after {
      animation: spinner 2.5s linear infinite;
    }

    &:before {
      width: 44px;
      height: 44px;
      margin-left: -7px;
      margin-top: -7px;
      animation: spinner 2.5s linear infinite;
      animation-direction: reverse;
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------------------------- LOADING HOMEPAGE ---------------------------- */
.loading-main {
}
