// css header
header {
  width: 100vw;
  height: 140px;
  margin-bottom: 60px;
  counter-reset: number;

  .container {
    height: 100%;
    position: relative;
  }

  .header {
    &__top {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 100;
      background: $gray-cl;
      height: var(--height-header);
      width: 100%;
    }

    &__wrap {
      height: 100%;
    }

    &__bottom {
      background: $main-bg-cl;
    }
  }

  .logo {
    width: 45px;
    height: 50px;
    @include mid();

    img {
      width: 100%;
    }
  }

  .icon-fb {
    img {
      width: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      height: 20px;
    }
  }

  .menu {
    @include text(
      var(--body12-fs),
      psb,
      var(--body12-lh),
      $white-cl,
      uppercase
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    @include transition(opacity $t);

    a {
      color: $white-cl;
      @include transition(opacity $t);
      &:hover {
        opacity: 0.5;
      }
    }

    &__list {
      width: 55%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .menu__logo .logo.rotate img {
        @include transform(rotate(360deg));
        @include transition($t);
      }
    }

    &.enable {
      @include transition(opacity 1.8s);
      pointer-events: auto;
      opacity: 1;
    }
  }

  .btn-menu {
    // display: none;
    display: block;
    transition-duration: 0.5s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 15px;
    cursor: pointer;
    @include transform(translateY(-50%));
    z-index: 101;

    span {
      display: block;
      transition-duration: 0.5s;
      position: relative;
      height: 4px;
      width: 30px;
      background: $yellow-cl;

      &::before {
        transition-duration: 0.5s;
        position: absolute;
        width: 30px;
        height: 4px;
        background: $yellow-cl;
        content: "";
        top: -10px;
      }

      &::after {
        transition-duration: 0.5s;
        position: absolute;
        width: 30px;
        height: 4px;
        background: $yellow-cl;
        content: "";
        top: 10px;
      }
    }

    &.open span {
      transition-duration: 0.5s;
      background: transparent;

      &::before {
        @include transform(rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px));
        background: $black-cl;
      }
      &::after {
        @include transform(rotateZ(-45deg) scaleX(1.25) translate(6px, -6px));
        background: $black-cl;
      }
    }
  }

  @include maxW(576px and 766px) {
    margin-bottom: unset;
    height: 110px;

    .menu {
      display: none;
    }

    .logo {
      display: block !important;
    }

    .icon-fb {
      display: block !important;

      img {
        height: 25px !important;
      }
    }
  }

  @include minW(767px) {
    .btn-menu {
      display: none;
    }

    .menu__list {
      width: 65%;
    }
  }

  @include minW(1024px) {
    .menu__list {
      width: 55%;
    }
  }
}
